<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if page.title == "home" %}
            {{ site.title }}
        {% else %}
            {{ page.title }} | {{ site.title }}
        {% endif %}
    </title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    {% assign page_type = page.type | split: ", " %}
    {% if page_type contains "code" %}
    <script src="{{ '/assets/scripts/highlight.min.js' | relative_url }}"></script>
    <script>hljs.highlightAll();</script>
    {% endif %}
    {% if page_type contains "math" %}
    <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                processEscapes: true
            }
        };
    </script>
    <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>
    {% endif %}
    {% if page_type contains "mermaid" %}
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js">
    </script>
    <script>
        mermaid.initialize({
            startOnLoad: true,
            theme: 'light'
        });
    </script>
    {% endif %}
    {% assign font_awesome = site.darkhack.font_awesome %}
    {% if font_awesome != nil %}
    <script src="https://kit.fontawesome.com/{{ font_awesome }}.js" crossorigin="anonymous"></script>
    {% endif %}
    <style>       
        
    </style>
</head>