<div class="container" style="text-align: center;">
    <nav class="nav" style="background-color: #333; padding: 10px;">
        <ul style="list-style-type: none; padding: 0;">
            <li>
                <a href="{{ site.url }}">Home </a>
            </li>
            <li>
                <a href="/aboutme.html">Research </a>
            </li>
            <li>
                <a href="/aboutme.html">HackTheBox </a>
            </li>
            <li>
                <a href="/aboutme.html">Tutorial </a>
            </li>
            <li>
                <a href="/aboutme.html">About </a>
            </li>
        </ul>
    </nav>
</div>

