<div class="container">
    <nav>
        <ul>
            <li>
                <a href="{{ site.url }}">Ngoc-Truong Nguyen /</a>
            </li>
        </ul>
    </nav>
    </div>

<div class="container">
<nav>
    <ul>
        <li style="color: blue;"># </li>
        <li>cat</li>
        {% if page.collection != nil %}
        <li>
            <a href="{{ site.url }}">{{ page.collection }} / </a>
        </li>
        {% endif %}
        <li>
            {% assign page_name = page.id | split: "/" | last %}
            {% if page_name == nil %}
            {% assign page_name = page.name %}
            {% endif %}
            <a href="{{ page.url | relative_url }}">
                {{ page_name | split: "." | first }}
            </a>
        </li>
    </ul>
</nav>
</div>