@import "_config";

.container {
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
    overflow: auto;
}

.content {
    border-right: $border-style-content $border-thick;
    border-color: $border-color;

    margin-left: 0.5em;

    padding-right: 1em;

    overflow-x: hidden;
    overflow-wrap: break-word;
}

.ruler {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: $background-color;
    color: $text-color;
    font-family: $font-family;
    font-size: 1.3em;
    // $font-size;

    h1 {
        // font-size: $h1-size;
        color: olive;
        font-weight: bold;
    }

    h2 {
        // font-size: $h2-size;
        color: olive;
        font-weight: bold;
    }

    h3 {
        // font-size: $h2-size;
        color: blueviolet;
        font-weight: bold;
    }

    a {
        color: $link-color;
    }

    img {
        max-width: 95%;
        overflow: hidden;
    }
}
div.container nav.nav ul li {
    display: inline;
    margin-right: 20px; /* Khoảng cách giữa các mục */
}
div.container nav.nav ul li a {
    text-decoration: none;
    color: #fff; /* Màu văn bản */
    font-weight: bold;
}

div.container nav.nav ul li a:hover {
    color: #00FF00; /* Màu văn bản khi di chuột qua */
}

mjx-container {
    display: inline-grid;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
  }
