@import "_config";

.container {
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
    overflow: auto;
}

.content {
    border-right: $border-style-content $border-thick;
    border-color: $border-color;

    margin-left: 0.5em;

    padding-right: 1em;

    overflow-x: hidden;
    overflow-wrap: break-word;
}

.ruler {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: $background-color;
    color: $text-color;
    font-family: $font-family;
    font-size: $font-size;

    h1 {
        font-size: $h1-size;
        font-weight: bold;
    }

    h2 {
        font-size: $h2-size;
        font-weight: bold;
    }

    h3 {
        font-size: $h2-size;
        font-weight: bold;
    }

    a {
        color: $link-color;
    }

    img {
        max-width: 95%;
        overflow: hidden;
    }
}

mjx-container {
    display: inline-grid;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
  }
