$background-color: #1F1F1F;
$text-color: rgb(182, 182, 182);
$link-color: rgb(228, 228, 228);
$border-color: #cacaca;
$border-style: dashed;
$border-style-content: double;
$border-thick: 0.1em;
$font-family: monospace;
$font-size: 1.2em;
$h1-size: 1.1em;
$h2-size: 1.1em;
$h3-size: 1.1em;
